<h2><%= t(:set_auto_invest_params) %></h2>
<%= form_tag set_auto_invest_params_path, method: :post, id: 'set_auto_invest_form' do %>
  <ol>
    <li>几秒执行一次</li>
    <li>多少价位以下执行买入</li>
    <li>跌破多少价位停止买入</li>
    <li>原有的USDT</li>
    <li>买入价格调整参数</li>
    <li>到达多少仓位则停止自动买入</li>
    <li>累积多少比特币后停止买入</li>
    <li>单笔至少买入多少USDT</li>
    <li>单笔至多买入不超过原有USDT的百分比</li>
    <li>交易记录日期</li>
    <li>交易记录时间</li>
    <li>测试价格</li>
    <li>单次获利的目标值(CNY)</li>
    <li>单次最多卖出笔数</li>
    <li>时间间隔最小参数</li>
    <li>时间间隔最大参数</li>
    <li>几秒钟侦测参数变化</li>
    <li>更新几分钟内的最低价</li>
    <li>更新几分钟内的最低价调整参数(追价时可适当调高一些)</li>
  </ol>
  <div>
    <span id="auto_invest_params_span">
      <%= text_field_tag :auto_invest_params, @invest_params_value %>
    </span>
    <%= submit_tag t(:save_auto_invest_params), style: 'font-size: 1.2em' %>
  </div>
<% end %>
<p/>
