<%
  # 获得所有宏观统计数据
  eq_btc, btc_p, sim_ave_cost, real_ave_cost, trezor_ave_cost, price_p, \
  one_btc2cny, total_real_profit, total_unsell_profit, ave_hour_profit, total_real_p_24h = \
  Property.invest_to_btc( admin? )
%>
<h2>
  <%= link_to t(:deal_record_index), deal_records_path %>
  <% # 显示宏观统计数据 %>
  ( <%= raw("<span title=\"买卖多空比\">#{@buy_sell_rate}</span> \
      <span title=\"累计已实现损益\">#{total_real_profit}</span> \
      <span title=\"近期已实现损益:未实现获利\">#{\
        add_zero(total_real_p_24h.to_i,4)}:#{add_zero(total_unsell_profit.to_i,4)}</span> \
      <span title=\"以比特币计算的总资产值\">#{eq_btc}</span> \
      <span title=\"比特币占总资产比例, 每百分点等于#{one_btc2cny.to_i}人民币\">#{\
        to_n(btc_p,1)}%</span> \
      <span title=\"交易记录均价:冷钱包均价\">#{real_ave_cost.to_i}:#{trezor_ave_cost.to_i}</span> \
      <span title=\"交易记录的总体利率\">#{add_plus(to_n(price_p))}%</span> \
      <span title=\"比特币现值:法币现值\">#{to_n(Property.btc_legal_ratio,2)}:1</span> \
      <span title=\"每时、每日、每月获利预估值\">#{ave_hour_profit} #{ave_hour_profit.to_i*24} \
        #{ave_hour_profit.to_i*24*30}</span>") %>
  )
</h2>
