<% if object.errors.any? %>
  <div id="error_explanation">
    <%= t(:please_fix_errors) %>
    <ol>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg.split(' ')[-1] %></li>
    <% end %>
    </ol>
  </div>
<% end %>
