<p><p>
  <%= show_fusion_chart %>
  <% if @show_period_link %>
    <div id="period-bar" style="width:100%;text-align:center">
      <%= period_link_for_chart(:line_chart) %>
    </div>
  <% end %>
  <% if @text and !@text.empty? %>
    <%= raw(@text) %>
  <% end %>
<p><p>
