<%= render 'layouts/site_nav', id: 'site_nav2' %>
<% if admin? %>
  <hr/>
  <% get_tag_cloud # 获取资产标签数据 %>
  <%= render 'properties/tag_cloud' %>
<% end %>
<p>
<div id="copyright">
  <hr>
  <small>© 2019 Playruby.top <%= t(:copyright) %> <%= t(:contact_email) %>：1524556052@qq.com</small>
</div>
